/* Color Palette: #F9F9F9, #95060F, #1F563E, #BEC1C2 */

.jumbotron {
  background-color: #95060F;
  padding: inherit;
}

.logo {
  height: 175px;
}

h2 {
  font-family: 'Rockwell', serif;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
  color: white;
  text-shadow: black 0.03em 0.03em 0.03em;
}

h4 {
  font-family: 'Rockwell', serif;
  font-style: italic;
  color: white;
}


body {
  padding: 0;
  margin: 0;
  background-color: #F9F9F9;
}

#map-container {
  position: relative;
  height: 600px;
  width: 800px;
}

#map {
  position: relative;
  height: 600px;
  width: auto;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}


.col-md-6 {
  background-color: white;
}

#table-container {
  background-color: white;
  border: 1px solid black;
}

#footer {
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #95060F;
}

#footer p {
  margin: 0;
  font-family: 'Rockwell', serif;
  font-size: 16px;
  color: white;
}