<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oakland Crime</title>
</head>

<body>
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <h1>Oakland Crime Data</h1>
              <hr/>
              <p>
                
              </p>
              <table class='table table-striped table-hover' id='pets-table'>

                  <tbody id='pets-tbody'></tbody>
              </table>

              <a href='/api/data'><button>View API Endpoint</button></a>
              <a href='/templates/base_map.html'><button>View Base Map</button></a>

          </div>
      </div>
  </div>
</body>


</html>
