<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oakland Crime</title>


  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
  <!-- Leaflet CSS --> 
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <!-- Leaflet JS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <!-- D3 JS -->
 <script src="https://d3js.org/d3.v7.min.js"></script>

 <!-- Plotly JS -->
 <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>

<!-- MD Bootstrap CSS-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="./static/mdbootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/mdbootstrap/css/mdb.min.css">
<!-- MD Bootstrap Plugin file -->
<link rel="stylesheet" href="./static/mdbootstrap/css/addons/datatables.min.css">
<link rel="stylesheet" href="./static/mdbootstrap/css/style.css">



 <!-- Custom CSS & JS -->
 <link href='../static/css/style.css' rel='stylesheet' type='text/css'>
 <script type='text/javascript' src="../static/js/config.js"></script>
 <script type='text/javascript' src="../static/js/choropleth.js"></script>
 <script type='text/javascript' src="../static/js/crimemap.js" defer></script> <!-- Note: We are deferring the execuion of this script because it is dependent on the map container -->
 

</head>

<body>

  <!-- Main container for the page -->
  <div class="container">

    <!-- Start of Project Overview section -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2>Ill Eagle <img src="../static/Images/Eagle.png" class = "logo" alt="DB"/>Crime Watch</h2>
          <p>
            <h4>Analyzing Crime, So You Can Too</h4>
          <!-- </p>
          <p> -->
            <a class="btn btn-primary btn-large" href="api/data">API Endpoint</a>
            <a class="btn btn-primary btn-large" href="api/data/crime_nb_summary">Neighborhood Summary</a>
          </p>
        </div>
      </div>
    </div>
    <!-- End of Project Overview section -->

    <!-- Map and Filters -->
    <div class="row">
      <div class="col-md-10">
          <!-- Map container-->
          <div id="map"></div>
      </div>
      <div class="col-md-2">
        <h5><b>Data Filters</b></h5>
        <p>
          <b>Year</b><br/>
            <input class="form-check-input" type="radio" name="year" id="year2020" value='2020' checked>
            <label class="form-check-label" for="year2020">2020</label>
              <br/>
            <input class="form-check-input" type="radio" name="year" id="year2019" value='2019'>
            <label class="form-check-label" for="year2019">2019</label>
        <p>
          <b>Crime Category</b><br/>
            <input class="form-check-input" type="radio" name="crimecategory" id="violent-radio" value='Violent' checked>
            <label class="form-check-label" for="violent-radio">Violent Crime</label><br/>

            <input class="form-check-input" type="radio" name="crimecategory" id="property-radio" value='Property'>
            <label class="form-check-label" for="property-radio">Property Crime</label><br/>

            <input class="form-check-input" type="radio" name="crimecategory" id="other-radio" value='Other'>
            <label class="form-check-label" for="other-radio">Other Crime</label><p>

          <input type='button' class="btn btn-primary btn-large" id='filter-button' value='Filter' onclick='destroyTableAndFilterCrime()'></input>
      </div>
    </div>
    <br/>

    <!-- Charting visualizations -->
    <div class="row">
      <div class="col-md-6" style="text-align: center;">
        <h5><b>Crime Type Ranking</b></h5>
        <div id='crime-bar'></div>
      </div>
      <div class="col-md-6" style="text-align: center;">
        <h5><b>Top 10 Neighborhoods with Crime Category Incidents</b></h5>
        <div id='crime-pie'></div>
      </div>
    </div>
    <br/>

    <!-- Data tables -->
    <div class="row">
      <div class="col-md-12" id='table-container'>
        <table id='crime-table' class="table table-striped table-bordered table-sm">
          <thead>
            <th>Case Number</th>
            <th>Description</th>
            <th>Address</th>
          </thead>
          <tbody id='crime-tbody'>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <br/>
  <!-- End of Main Container -->


  <!-- MD Bootstrap JS Components-->
<script type="text/javascript" src="./static/mdbootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="./static/mdbootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="./static/mdbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./static/mdbootstrap/js/mdb.min.js" ></script>
<!-- Plugin file -->
<script src="./static/mdbootstrap/js/addons/datatables.min.js"></script>

<!-- Footer-->
<div id="footer">
  <p>© 2021 John Chan, Sanureet Bhullar, Jackson Freese, Matt Jensen, Veerpal Sanga. Confidential and Proprietary. All Rights Reserved.</p>
  <p>Special thanks to Dartanion Williams.</p>
</div>
</body>


</html>
